.App {
  background-color: black;
  background-image: url("../images/WarhawksBg2.jpg");
  background-position: top;
  background-size: contain;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  float: left;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 7vh;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center; /* align vertical */

}

.App-title {
  vertical-align: middle;
  font-size: 1.5em;
}

.App-main {
  text-align: center;
  font-size: large;
  padding-top: 20px;
}

.headerLink {
  margin: 0 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.img-bg {
}