.RequestPage-main {
    width: 40vw;
    text-align: center;
    background-color: white;
    margin: 0 auto;
}

.requestContainer {
    width: 90%;
}

#requestForm {
    text-align: right;
    width: 100%;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.textInput {
    margin-left: 15px;
}
.textArea {
    margin-left: 15px;
    /*margin-top: 3px;*/
    width: 214px;
}
ul.react-datepicker__time-list {
    padding: 0;
}

/*label > div {*/
    /*display: inline;*/
/*}*/

.is-open {
    z-index: 100 !important;
}

.label_format {
    display: inline-block;
}

.Select-control {
    width: 200px !important;
}