.RequestPage-main {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: gray;
}

.requestContainer {
    width: 40px;
}


#requestForm {
    text-align: left;
    margin: 2%;
}

.textInput {
    /*background-color: rgba(255,255,255,0.3);*/
    background-color: rgba(255,255,255,0.0);
    border: none;
    padding-left: 10px;
}
.textInput:focus {
    outline: none !important;
    border: 2px solid #06ad78;
    border-radius: 3px;
    border-weight: 1px;
    border-padding: 5px;
}
.textArea {
    width: 100%;
    /*margin-top: 3px;*/
    /*width: 214px;*/
}
ul.react-datepicker__time-list {
    padding: 0;
}

/*label > div {
    width: 320px;
    border-radius: 0px;
}*/

.is-open {
    z-index: 100 !important;
}
.wrapper {
    position: relative;
}
.inputCol {
    width: 80% !important;
}
.inputIcon {
    background-color: #06ad78;
}
.input-group-addon {
    background-color: #06ad78 !important;
    border: none !important;
    color: white !important;
}
.icon {
    font-weight: bold;
}
.greenButton {
    background-color: #06ad78;
    color: white;

}
.label_format {
    margin-bottom: 1px;
    margin-top: 6px;
    padding-bottom: 0px;
    padding-top: 0px;
}

/*.label_format {
    display: inline-block;
}*/

.Select-control {

}
.datepickerStyle {
    padding-left: 10px;
    width: 100% !important;
}
