.RequestPage-main {
    height: 100vh;
    width: 500px;
    background-color: darkred;
    margin: 0 auto;
}

.requestContainer {
    width: 90%;
}

#requestForm {
    text-align: right;
}

.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.textInput {
    margin-left: 15px;
}
.textArea {
    margin-left: 15px;
    margin-top: 3px;
    width: 125px;
}
ul.react-datepicker__time-list {
    padding: 0;
}

label > div {
    display: inline;
}
